extends ../layouts/layout

block content
  include ../common/cover
  
  // Page Content
  if (products.length == 0)
    .container
      .row
        .col-lg-3
          h1.my-4 Mega Construx
          .list-group
            a.list-group-item(href='/') All
            each category in categories 
              a.list-group-item(href='/?cat=' + category._id)= category.name
      
        .col-lg-9
          h1.text-center.pt-5 Hiện tại chưa có thông tin về sản phẩm này

  else
  
    .container
      .row
        .col-lg-3
          .category-list
            h1.my-4 Mega Construx
            .list-group
              a.list-group-item(href='/') All
              each category in categories 
                a.list-group-item(href='/?cat=' + category._id)= category.name
        
        // /.col-lg-3
        .col-lg-9
          #carouselProductFrontPage.carousel.slide.my-4(data-ride='carousel')
            .carousel-inner(role='listbox')
              - var divClass = null
              - var frontPageCounter = 0
              each product in products
                if (product.frontPage)
                  - frontPageCounter = frontPageCounter + 1
                  if (frontPageCounter == 1)
                    - divClass="carousel-item active"
                  else
                    - divClass="carousel-item"

                  div(class=divClass)
                    a(href="/products/" + product._id)
                      img.img-fluid.product-image(src=product.img_thumbnail)

              if (frontPageCounter == 0)
                .carousel-item.active
                  img.d-block.img-fluid(src='http://placehold.it/900x350', alt='First slide')

            a.carousel-control-prev(href='#carouselProductFrontPage', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselProductFrontPage', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next


          .row
            .product-index
              each product in products
                .col-lg-4.col-md-6.mb-4
                  .card.h-100
                    a(href='/products/' + product._id)
                      img.card-img-top.img-thumbnail(src=product.img_thumbnail, alt='')
                    .card-body
                      h4.card-title
                        a(href='/products/' + product._id)= product.title
                      h5= "Số lượng: " + product.quantity
                      h5= "Ghi chú: " + product.note