form(action=action method="POST")
  .form-group
    label(for="Name") Name:
    input.form-control(
      type="text"
      id="name"
      name="name"
      value=cat.name
    ) 
  
  .form-row
    .form-group.col-lg-4
      label(for="displayOrder") Display Order:
      input.form-control(
        type="number"
        id="displayOrder"
        name="displayOrder"
        value=cat.displayOrder
      ) 
    
  
  button.btn.btn-primary(type="submit" value="Submit") Submit