form(action=action method="POST")
  .row
    .col
      label(for="Title") Title:
      input.form-control(
        type="text"
        id="title"
        name="title"
        value=product.title
      ) 
  
  .row
    .col
      label(for="Content") Content:
      textarea.form-control(
        type="text"
        id="content"
        name="content"
      )

  .row  
    .col-lg-8.col-sm-12
      label(for="img_link") Image link:
      input.form-control(
        type="text"
        id="img_link"
        name="img_link"
        value=product.img_link
      )

    .col-lg-4.col-sm-12
      label(for="Front Page") Front Page
      input.form-check-input(
        type="checkbox"
        id="frontPage"
        name="frontPage"
        value=product.frontPage
      )

  .row
    .col-lg-4.col-sm-12
      label(for="category") Category
      select#inputGroupSelect01.form-select(name='categoryName')
        option(selected='') Chọn ...
        each category in categories
          option(select=category._id)= category.name

  .row
    .col-lg-4.col-sm-12
      label(for="Note") Note:
      input.form-control(
        type="text"
        id="note"
        name="note"
        value=product.note
      ) 
  
    .col-lg-4.col-sm-12
      label(for="quantity") Quantity:
      input.form-control(
        type="number"
        id="quantity"
        name="quantity"
        value=product.quantity
      ) 
  

    .col-lg-4.col-sm-12
      label(for="displayOrder") Display Order:
      input.form-control(
        type="number"
        id="displayOrder"
        name="displayOrder"
        value=product.displayOrder
      ) 
    
  .pt-2
    button.btn.btn-primary(type="submit" value="Submit") Submit

script(type="text/javascript").
  var newContent = `!{product.content}`

  var easyMDE = new EasyMDE({
    element: $('#content')[0],
    initialValue: newContent
  });